.video-search {
  .paging {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .total {
    .result {
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
    }

    .cnt {
      margin-left: 50px;
      font-size: 20px;
    }
  }

  .wapper {
    padding: 30px;
    padding-bottom: 0;
    margin: 20px;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .video {
      margin-bottom: 25px;
      cursor: pointer;

      .vimg img {
        width: 350px;
        margin: 1px;
      }

      .title {
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 10px;
        width: 350px;
        height: 40px;
      }

      .info {
        display: flex;
        align-items: center;

        img {
          border-radius: 50%;
          width: 23px;
          height: 23px;
          margin-right: 6px;
        }

        div {
          color: #999999;
        }
      }
    }
  }
}
