.detail-words {
  // background-color: #f9f9f9;

  // padding: 25px;

  .select {
    // display: flex;
  }

  // .title {
  //   font-size: 30px;
  //   font-weight: bold;
  //   margin-bottom: 20px;
  // }
  width: 630px;

  .paging {
    display: flex;
    justify-content: center;
  }

  .analyzechart {
    .bar {
      margin-top: 30px;
    }

    .total {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      right: 40px;
      margin-top: 30px;
      > * {
        margin: 0 10% 0% 12%;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          font-size: 15px;
          margin-bottom: 10px;
        }

        .data {
          display: flex;
          justify-content: center;
          align-items: center;
          color: red;
          border: 5px solid #ff426a;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          padding: 25px;
        }
      }
    }
  }
}
